    body {
    background-color: #98682c; 
    margin: 0 auto;
    padding: 5px;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    }
      header {
            background-color: #98682c; 
            color: #98682c;
            padding: 10px;
            position: fixed;
            width: 100%;
            top: 0%;
            z-index: 1000;
            display: flex;
            justify-content: space-between;
            border: 2px solid #000;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .logo img {
            height: 80px; 
        }
        nav ul {
            list-style: none;
            display: flex;
            margin-right: 40px;
            border: 2px solid #000;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        nav li {
            margin: 15px;
            
        }

        nav a {
            text-decoration: none;
            color: #fff;
            
        }

        main {
            padding-top: 80px;
            
        }
        
        
        .titulo {
            margin-top: 3%;
        }
        /* ----------------------- */
         .text1{
            margin-left: 40%;
            margin-top: -5%;
            border: 2px solid #000;
            padding: 10px;
            
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .image1 img{
            width: 30%;
            height: auto;
            margin-left: 5%;
            margin-top: -50%;
            border: 2px solid #fff; 
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
        }
        /* ----------------------- */
        .text2{
            justify-content: left;
            margin-right: 50%;
            border: 2px solid #000;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .image2 img{
            justify-content: right;
            padding-left: 70%;
            width:  400px;
            margin-top: -280px;
            margin-left: -12%;
            height: 300px; 
            /* border: 2px solid #fff; 
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); */
        }
        /* ----------------------- */
        .text3{
            margin-left: 40%;
            margin-top: 5%;
            border: 2px solid #000;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        } 
        
         .image3 img {
            width: 400px;
            height: 300px;
            margin-left: 5%;
            margin-top: -30%;
            border: 2px solid #fff; 
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
        }
        /* ----------------------- */       
        .text4{
            justify-content: left;
            margin-right: 50%;
            border: 2px solid #000;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin-top: 5%;
            
        } 
        
         .image4 img {
            justify-content: right;
            padding-left: 70%;
            width:  500px;
            height: 300px; 
            margin-top: -280px;
            margin-left: -12%;
            /* border: 2px solid #fff; 
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); */
            
        }
          /* ----------------------- */       

          .text5{
            margin-left: 40%;
            margin-top: 5%;
            border: 2px solid #000;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        } 
        
         .image5 img {
            width: 400px;
            height: 300px;
            margin-left: 5%;
            margin-top: -30%;
            border: 2px solid #fff; 
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
        }
          /* ----------------------- */       
        .text6{
            justify-content: left;
            margin-right: 50%;
            border: 2px solid #000;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            margin-top: 4%;
            
        } 
        
         .image6 img {
            justify-content: right;
            padding-left: 70%;
            width:  500px;
            height: 300px; 
            margin-top: -60%;
            margin-left: -12%;
            margin-bottom: 40px;
         }
          /* ----------------------- */       
          .text7{
            margin-left: 40%;
            margin-top: 5%;
            border: 2px solid #000;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        } 
        
         .image7 img {
            width: 500px;
            height: 300px;
            margin-left: 1%;
            margin-top: -50%;
            margin-bottom: 6%;
            border: 2px solid #fff; 
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
        }
          /* ----------------------- */       

       